body             { background: #333; }

#page-wrap:after { content: "Smartphone Layout"; }

h2 span, section h3, label.rem { display: none; }
body             { font-size: xx-large; }
input, button    { font-size: x-large; }
footer           { font-size: large; }

.contenedor {
    display: flex; /* or inline-flex */
    flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	text-align: left;
}
.izquierda {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.derecha {
  width: 100%;
  text-align: left;
}