<div class="contenedor">
	<div class="izquierda">
		<img class="derecha" alt="Foto" src="/images/retrato.jpg">
        <iframe class="derecha" src="https://www.youtube.com/embed/HHkJEz_HdTg" frameborder="0" allowfullscreen></iframe>
	</div>
	<div class="derecha">
		<h1><%= autor %></h1>
     	<h1>Experiencia profesional:</h1>
     	<ul>      
	        <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</li>
	        <li>Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</li>
	        <li>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</li>
	        <li>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</li>
	        <li>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.</li>
	        <li>Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</li>
	        <li>Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a,</li>
     	</ul>
		<h1>Formación:</h1>
		<ul>
			<li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
			<li>Aenean commodo ligula eget dolor.</li>
			<li>Aenean massa. Cum sociis natoque penatibus et</li>
		</ul>
		<h1>Otros datos de interés:</h1> 
		<ul>
			<li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>  
			<li>Aenean commodo ligula eget dolor. Aenean massa.</li>
			<li>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</li>
			<li>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, ulputate</li>  
		</ul>
	</div>
</div>